<nav class="navbar navbar-light bg-header">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo_200x200.png" alt="" height="80">
    </a>
    <h3>The Ultimate RijksSearchApp</h3>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.rijksmuseum.nl/en/rijksstudio">Rijks Studio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.rijksmuseum.nl/en/tickets/articles"><button type="button" class="btn btn-tickets">Tickets</button></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="p-3 bg-secondary text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-center">
        <a class="text-white" target="_blank" href="https://www.github.com/oxyxo/endeavour">Fork me on Github</a>        
      </div>
      <div class="col d-flex justify-content-center">
        <a class="text-white" target="_blank" href="https://www.rijksmuseum.nl/en/rijksstudio">To Rijks Studio</a>
      </div>
      <div class="col d-flex justify-content-center">        
        <button class="btn btn-primary" (click)="goToTop()" >Go to top</button>
      </div>
    </div>
  </div>

  <p class="text-center pt-5">Made by Oxyxo 2021</p>  
</footer>
