<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
    <h3>The Ultimate RijksSearchApp</h3>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<main class="d-flex flex-row">
  <div class="align-self-stretch" style="width: 100%;">
    I am holding the predefined search here
  </div>

  <article class="align-self-stretch">
    Type your search here
    <input type="text" #search (keyup.enter)="update(search.value)">
    
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let art of artObjects">
        <div class="card">
          <img [src]="art.webImage.url" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ art.title }}</h5>
            <p class="card-text">{{ art.principalOrFirstMaker}}, <span *ngFor="let city of art.productionPlaces">{{ city }}</span></p>
          </div>
        </div>
      </div>  
      <p *ngIf="artObjects.length==0">Sorry, your search gave no results. Try to search something different?</p> 
      
    </div>
  </article>
</main>

<section>
  <p class="text-center">Previously found items</p>
  <div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</section>

<footer class="p-3 mb-2 bg-secondary text-white">
  Fork me on Github
  <a href="https://www.rijksmuseum.nl/en/rijksstudio">To Rijksstudio</a><br>
  Made by Oxyxo
</footer>


<router-outlet></router-outlet>
